
# Data Processing
pandas
numpy
psutil

# API
fastapi
pydantic
uvicorn

# Database
psycopg2-binary

# ONNX Runtime (CPU)
onnxruntime
optimum[onnxruntime]
transformers

# NLP & AI
spacy
thefuzz
vaderSentiment
groq

# Configuration
python-dotenv